{{ template "base.html" }}
{{ define "head" }}
    <style>
        html, body {
            font-family: Nunito-Bold, GenJyuuGothicL, serif;
            height: 100%;
            width: 100%;
            display: flex;
        }

        body {
            align-items: center;
        }
    </style>
    <script src="/statics/js/wuchieh.js"></script>
{{ end }}

{{ define "body" }}
    <!-- OffCanvas -->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offCanvasTestModel"
         aria-labelledby="offCanvasTestModelLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offCanvasTestModelLabel">單元測試</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <hr>
        <div class="offcanvas-body">
            <div class="container-fluid">
                <h6>ws連線測試 <p id="testConnectStatus" class="text-danger mt-1">尚未連線</p></h6>
                <div class="border border-1 rounded-2 h-100">
                    <div class="m-3">
                        <div id="testEnterIP" style="display: block">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="testURL" placeholder="URL" value="ws://127.0.0.1:8080/ws">
                                <label for="testURL">URL</label>
                                <button class="btn btn-primary mt-2" onclick="testWsConnect()">連線</button>
                            </div>
                        </div>
                        <div id="testSendMsg" style="display: none">
                            <div id="testReplyMsg" class="border border-1 navbar-nav-scroll mb-2" style="height: 10rem">
                            </div>
                            <div class="form-floating">
                                    <input type="text" class="form-control" id="testMsgInput"
                                              placeholder="Username">
                                <label for="testMsgInput">訊息</label>
                            </div>
                            <button id="testWsSendMsg" class="btn btn-primary mt-2">傳送</button>
                            <button id="testWsConnectClose" class="btn btn-danger mt-2">關閉連線</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-3" id="exampleModalLabel">取得新的Token</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body my-2 fs-5">
                    若取得新的Token目前的Token將會失效
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="getNewToken()">確定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end -->

    <div class="container-fluid text-center">
        <div><label class="fs-1" onclick="showTestButton()">Token: <a>{{ .token }}</a></label></div>
        <div class="mt-3">
            <button type="button" class="btn btn-success fs-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                取得新Token
            </button>
            <div id="testButtons" class="mt-3" style="display: none">
                <button id="testButton" class="btn btn-primary fs-3" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offCanvasTestModel"
                        aria-controls="offCanvasTestModel">
                    單元測試
                </button>
            </div>
        </div>
    </div>
{{ end }}

{{ define "footer" }}
<script>
    let URLInput= document.getElementById("testURL");
    let wsUrl = "";
    if (location.protocol==="http:"){
        wsUrl += "ws://"
    }else{
        wsUrl+="wss://"
    }
    URLInput.value =wsUrl+location.host+"/ws"
</script>
{{ end }}